header p{
    margin-top:10px;
    color:#d1d5db;
}

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
    max-width:1000px;
    margin:40px auto;
}

.card{
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#2563eb;
    margin-bottom:10px;
}

.card p{
    color:#555;
}

a{
    text-decoration:none;
}